<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
    Hello there, how are you? "${test}"
    <p  th:text="${test}">description</p>
    <br>
    <a href="../../test">Go to test</a>
</body>
</html>